// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $CODE
//   - $PROMPT
//   - $NUMBERED LINES
//
// 
// URL: http://typeplate.com
// Github: https://github.com/typePlate/typeplate.github.com
// AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals)
// LICENSE: Creative Commmons (http://creativecommons.org/licenses/by/3.0)
//
// ------------------------------------------------//

// ------------------------------------------------//
// $CODE
// ------------------------------------------------//

pre code {
	@extend %normal-wrap;
	@include white-space(pre-wrap);
}

pre {
	@include white-space(pre);
}

code {
	@include white-space(pre);
	font-family: monospace;
}





// ------------------------------------------------//
// $PROMPT
// ------------------------------------------------//

.prompt {
	padding: 12px;
	margin: 12px 0;
	list-style: none;
	background: $white;
	border: 1px solid $gray-lighter;

	> li:before {
		content: "$";
		margin-right: 8px;
	}
}





// ------------------------------------------------//
// $NUMBERED LINES
// ------------------------------------------------//

.line-numbers {
	padding: 12px;
	background: $white;
	border: 1px solid $gray-lighter;
}