// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $GENERAL STYLES
//   - $FORM CONTROLS
//   - $PLACEHOLDER
//   - $INPUT SIZES
//   - $FLAT FORMS
//   - $FIELD VARIATIONS
//   - $ERRORS
//   - $THIRD-PARTY
//
// ------------------------------------------------//

// ------------------------------------------------//
// $GENERAL STYLES
// ------------------------------------------------//

form { margin: 0 0 $base-spacing-unit; }

fieldset {
    padding: 0 0 $base-spacing-unit;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: $base-line-height;
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height * 2;
    color: $gray-dark;
    border: 0;
    border-bottom: 1px solid #e5e5e5;

    small { font-size: $base-line-height * .75; }
}

label,
input,
button,
select,
textarea,
.text-input,
.label {
    @include font-size($base-font-size,$base-line-height);
    font-weight: normal;
}
input,
button,
select,
textarea,
.text-input { font-family: $base-font-family; }

label,
.label { margin-bottom: 5px; }

.additional { display: inline-block; }





// ------------------------------------------------//
// $FORM CONTROLS
// ------------------------------------------------//

textarea,
.text-input {
    padding: 0 0.65em;
    height: 32px;
    height: 2rem;
    width: 232px;
    width: 14.5rem;
    background: $white;
    border: 1px solid $black;
    @include font-short(14px, 20px);

    &:focus,
    &:active {
        outline: 0;
        outline: thin dotted \9;
    }
}

textarea {
    padding: 1em;
    height: auto;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] { width: auto; }

.check-list {
    > li {
        margin-bottom: $base-spacing-unit / 3;
        overflow: hidden;
    }

    input { margin: 2px; }

    label,
    .label,
    .check-label {
        padding-left: 2px;
        font-family: $base-font-family;
        line-height: 1.2;
        text-transform: none;
    }
}

// SCREEN READR ONLY FIELD - Used primary for the Honeypot Captcha
.screen-reader-field {
    position: absolute;
    top: 0;
    left: -1000em;
}





// ------------------------------------------------//
// $PLACEHOLDER
// ------------------------------------------------//

input,
textarea,
.text-input { @include placeholder($black); }





// ------------------------------------------------//
// $INPUT SIZES
// ------------------------------------------------//

.text-input--mini       { width: 60px; }
.text-input--small      { width: 90px; }
.text-input--medium     { width: 150px; }
.text-input--large      { width: 300px; }
.text-input--xlarge     { width: 350px; }
.text-input--xxlarge    { width: 525px; }





// ------------------------------------------------//
// $FLAT FORMS
// ------------------------------------------------//
.form-fields--flat {
    label,
    .label { display: inline-block; }
}

.form-fields--even {
    label,
    .label { width: 150px; }
}





// ------------------------------------------------//
// $FIELD VARIATIONS
// ------------------------------------------------//





// ------------------------------------------------//
// $ERRORS
// ------------------------------------------------//

.error {
    color: $red;

    label,
    .btn {
        color: $red;
        @include transition(all 250ms ease);
    }

    input,
    textarea,
    select,
    .text-input,
    .btn {
        border-color: $red;
        @include transition(all 250ms ease);
    }
}
.error--multi-field {
    label {
        color: $red;
        @include transition(all 250ms ease);
    }
}





// ------------------------------------------------//
// $THIRD-PARTY
//
// ANY JQUERY PLUGIN STYLES
// ------------------------------------------------//





