// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: April 9, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $HEADINGS
//
// 
// URL: http://typeplate.com
// Github: https://github.com/typePlate/typeplate.github.com
// AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals)
// LICENSE: Creative Commmons (http://creativecommons.org/licenses/by/3.0)
//
// ------------------------------------------------//

// ------------------------------------------------//
// $HEADINGS
// ------------------------------------------------//

h1,.alpha,
h2,.beta,
h3,.gamma,
h4,.delta,
h5,.epsilon,
h6,.zeta {
	margin-bottom: $base-spacing-unit / 1.5;
	color: $heading-color;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	text-transform: uppercase;
}