// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: April 9, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $LISTS
//   - $LIST STYLES
//   - $DEFINITION LISTS
//   - $LOGO GRID
//
// 
// URL: http://typeplate.com
// Github: https://github.com/typePlate/typeplate.github.com
// AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals)
// LICENSE: Creative Commmons (http://creativecommons.org/licenses/by/3.0)
//
// ------------------------------------------------//

// ------------------------------------------------//
// $LISTS
// ------------------------------------------------//

ol li,
ul li { margin-bottom: $base-spacing-unit; }





// ------------------------------------------------//
// $LIST STYLES
// ------------------------------------------------//

.list--reset {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list--no-bullets { list-style: none; }

.list--fancy {
	@extend .list--reset;

	> li {
		margin-bottom: 1em;

		a {
			padding: 0.25em;
			@extend .brand-color--darker;
			@extend .caps;
		}

		&.current a,
		a:hover { border-bottom: 1px solid $gray-light; }

		&.disabled a {
			color: $gray-lightest;
			cursor: default;
		}

		&.disabled:hover a { border: none; }
	}
}





// ------------------------------------------------//
// $DEFINITION LISTS
// ------------------------------------------------//

.lining { @include definition-list-style(lining); }
.dictionary-style { @include definition-list-style(dictionary-style); }





// ------------------------------------------------//
// $LOGO GRID
// ------------------------------------------------//

.logo-grid {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	@extend .cf;

	> li {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
		text-align: center;

		> a,
		> img {
			display: inline-block;
			line-height: 1;
		}

		a { vertical-align: middle; }
	}
}

// Sizes
.logo-grid--2cols {
	> li { width: 49%; }
}
.logo-grid--3cols {
	> li { width: 32%; }
}
.logo-grid--4cols {
	> li { width: 25%; }
}
.logo-grid--5cols {
	> li { width: 20%; }
}
.logo-grid--6cols {
	> li { width: 16%; }
}
.logo-grid--7cols {
	> li { width: 14%; }
}
.logo-grid--8cols {
	> li { width: 12.5%; }
}