// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: April 9, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $HTML
//   - $BODY
//
// 
// URL: http://typeplate.com
// Github: https://github.com/typePlate/typeplate.github.com
// AUTHORS: Zachary Kain (@zakkain) & Dennis Gaebel (@gryghostvisuals)
// LICENSE: Creative Commmons (http://creativecommons.org/licenses/by/3.0)
//
// ------------------------------------------------//

// ------------------------------------------------//
// $HTML
// ------------------------------------------------//

html {
	background: url($background);
	@include base-type($font-properties...);
}





// ------------------------------------------------//
// $BODY
// ------------------------------------------------//

body {
	margin: 0;
	width: 100%;
	@include css-hyphens(auto); // Ala Trent Walton
	@extend %normal-wrap;
	color: $body-copy-color;
}

a {
	color: $brand-color;
	text-decoration: none;
	cursor: pointer;

	&:hover { text-decoration: underline; }
	&.disabled { cursor: default; }
}
b 			{ font-weight: 500; }
strong 		{ font-weight: 700; }

abbr {
	@include smallcaps(gray, 600);
	&:hover {
		cursor: help;
	}
}
