// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $TABLE BORDERED
//   - $TABLE STRIPED
//
// ------------------------------------------------//

// ------------------------------------------------//
// $TABLE BORDERED
// ------------------------------------------------//

.table--bordered{
    th,
    td { border:1px solid $base-ui-color; }
}





// ------------------------------------------------//
// $TABLE BORDERED
// ------------------------------------------------//
.table--striped{
    tbody tr:nth-of-type(odd){
        background-color: $orange;
        color: $white;
    }
}