// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $BRAND
//   - $BRAND COLORS
//   - $BRAND BACKGROUNDS
//   - $BRAND BORDERS
//
// ------------------------------------------------//

// ------------------------------------------------//
// $BRAND
// ------------------------------------------------//
.brand-face--light { font-family: $base-font-family; }

.brand-label {
	@include font-shorthand($base-font-weight, $base-line-height, 10px, $base-font-family);
	color: $gray-dark;
	letter-spacing: 2px;
	text-transform: uppercase;
}





// ------------------------------------------------//
// $BRAND COLORS
// ------------------------------------------------//

// GRAYSCALE

.brand-color--clean,
a.brand-color--clean:hover 		{ color: $white; }
.brand-color--lightest,
a.brand-color--lightest:hover 	{ color: $gray-lightest; }
.brand-color--lighter,
a.brand-color--lighter:hover 	{ color: $gray-lighter; }
.brand-color--light,
a.brand-color--light:hover 		{ color: $gray-light; }
.brand-color--dark,
a.brand-color--dark:hover 		{ color: $gray-dark; }
.brand-color--darker,
a.brand-color--darker:hover 	{ color: $gray-darker; }
.brand-color--dirty,
a.brand-color--dirty:hover 		{ color: $black; }

// ACCENT COLORS

.brand-color--red 					{ color: $red; }
a.brand-color--red:hover 			{ color: darken($red, 5%); }
.brand-color--red-light 			{ color: $red-light; }
a.brand-color--red-light:hover 		{ color: darken($red-light, 5%); }





// ------------------------------------------------//
// $BRAND COLORS
// ------------------------------------------------//

.brand-bg--clean 			{ background: $white; }
.brand-bg--gray-lightest 	{ background: $gray-lightest; }
.brand-bg--gray-lighter 	{ background: $gray-lighter; }
.brand-bg--gray-light 		{ background: $gray-light; }
.brand-bg--gray 			{ background: $gray; }
.brand-bg--gray-dark 		{ background: $gray-dark; }
.brand-bg--gray-darker 		{ background: $gray-darker; }
.brand-bg--gray-darkest 	{ background: $gray-darkest; }
.brand-bg--dirty 			{ background: $black; }






// ------------------------------------------------//
// $BRAND BORDERS
// ------------------------------------------------//

.border--ends {
	margin: 2em 0;
	padding: 2.25em 0;
	border: 1px solid $gray-light;
	border-width: 1px 0;
}
.border--clean 				{ border: 1px solid $white; }
.border--gray-lightest 		{ border: 1px solid $gray-lightest; }
.border--gray-lighter 		{ border: 1px solid $gray-lighter; }
.border--gray-light 		{ border: 1px solid $gray-light; }
.border--gray 				{ border: 1px solid $gray; }
.border--gray-dark 			{ border: 1px solid $gray-dark; }
.border--gray-darker 		{ border: 1px solid $gray-darker; }
.border--gray-darkest 		{ border: 1px solid $gray-darkest; }
.border--dirty 				{ border: 1px solid $black; }

.border--top 				{ border-width: 1px 0 0!important; }
.border--right 				{ border-width: 0 1px 0 0!important; }
.border--bottom 			{ border-width: 0 0 1px 0!important; }
.border--left 				{ border-width: 0 0 0 1px!important; }
.border--ends 				{ border-width: 1px 0!important; }
.border--sides 				{ border-width: 0 1px!important; }
.border--top-right 			{ border-width: 1px 1px 0 0!important; }
.border--top-left 			{ border-width: 1px 0 0 1px!important; }
.border--bottom-right 		{ border-width: 0 1px 1px 0!important; }
.border--bottom-left 		{ border-width: 0 0 1px 1px!important; }

.border--no-top 			{ border-top-width: 0!important; }
.border--no-right 			{ border-right-width: 0!important; }
.border--no-bottom 			{ border-bottom-width: 0!important; }
.border--no-left 			{ border-left-width: 0!important; }
.border--none 				{ border-width: 0!important; }




