// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $HELPERS
//   	- $BOX MODEL
//   	- $OPACITY
//   	- $TEXT
//   	- $ADD/REMOVE MARGIN (EXTENSION)
//   	- $ADD/REMOVE PADDING (EXTENSION)
//   	- $CLEARING FLOATS
// 		- $ANIMATIONS
// 		- $NO-JS
//   	- $MISC
//
// ------------------------------------------------//

// ------------------------------------------------//
// $HELPERS
// ------------------------------------------------//

// ------------------------------------------------//
// $BOX MODEL
// ------------------------------------------------//

.display--center 	{ margin-right: auto; margin-left: auto; }
.display--inline 	{ display: inline-block; }
.display--block 	{ display: block; }
.display--none 		{ display: none !important; }





// ------------------------------------------------//
// $OPACITY
// ------------------------------------------------//
.opacity--none 				{ @include opacity(0); }
.opacity--one-quarter 		{ @include opacity(0.25); }
.opacity--half 				{ @include opacity(0.5); }
.opacity--three-quarters 	{ @include opacity(0.75); }
.opacity--full 				{ @include opacity(1); }





// ------------------------------------------------//
// $TEXT
// ------------------------------------------------//
.text--underline { text-decoration: underline; }
.text--strike { text-decoration: line-through; }
.text--no-wrap { white-space: nowrap; }

.capitalize { text-transform: capitalize; }

.back:before {
	content:"<\00A0"!important;
	font-size: 75%;
	vertical-align: top;
}

.ir { display: block; font-size: 0; }





// ------------------------------------------------//
// $ADD/REMOVE MARGIN (EXTENSION)
// ------------------------------------------------//

// Push 1.5 * base-spacing-unit
.push-oneandhalf--ends 		{ margin-top: $base-spacing-unit * 1.5 !important; margin-bottom: $base-spacing-unit * 1.5 !important; }
.push-oneandhalf--sides 	{ margin-right: $base-spacing-unit * 1.5 !important; margin-left: $base-spacing-unit * 1.5 !important; }
.push-oneandhalf--top 		{ margin-top: $base-spacing-unit * 1.5 !important; }
.push-oneandhalf--right 	{ margin-right: $base-spacing-unit * 1.5 !important; }
.push-oneandhalf--left 		{ margin-left: $base-spacing-unit * 1.5 !important; }
.push-oneandhalf--bottom 	{ margin-bottom: $base-spacing-unit * 1.5 !important; }

// Push 2 * base-spacing-unit
.push-double 				{ margin: $base-spacing-unit * 2 !important; }
.push-double--ends 			{ margin-top: $base-spacing-unit * 2 !important; margin-bottom: $base-spacing-unit * 2 !important; }
.push-double--sides 		{ margin-right: $base-spacing-unit * 2 !important; margin-left: $base-spacing-unit * 2 !important; }
.push-double--top 			{ margin-top: $base-spacing-unit * 2 !important; }
.push-double--right 		{ margin-right: $base-spacing-unit * 2 !important; }
.push-double--left 			{ margin-left: $base-spacing-unit * 2 !important; }
.push-double--bottom 		{ margin-bottom: $base-spacing-unit * 2 !important; }





// ------------------------------------------------//
// $ADD/REMOVE PADDING (EXTENSION)
// ------------------------------------------------//

// Soft 1.5 * base-spacing-unit
.soft-oneandhalf--ends 		{ padding-top: $base-spacing-unit * 1.5 !important; padding-bottom: $base-spacing-unit * 1.5 !important; }
.soft-oneandhalf--sides 	{ padding-right: $base-spacing-unit * 1.5 !important; padding-left: $base-spacing-unit * 1.5 !important; }
.soft-oneandhalf--top 		{ padding-top: $base-spacing-unit * 1.5 !important; }
.soft-oneandhalf--right 	{ padding-right: $base-spacing-unit * 1.5 !important; }
.soft-oneandhalf--left 		{ padding-left: $base-spacing-unit * 1.5 !important; }
.soft-oneandhalf--bottom 	{ padding-bottom: $base-spacing-unit * 1.5 !important; }

// Soft 2 * base-spacing-unit
.soft-double 				{ padding: $base-spacing-unit * 2 !important; }
.soft-double--ends 			{ padding-top: $base-spacing-unit * 2 !important; padding-bottom: $base-spacing-unit * 2 !important; }
.soft-double--sides 		{ padding-right: $base-spacing-unit * 2 !important; padding-left: $base-spacing-unit * 2 !important; }
.soft-double--top 			{ padding-top: $base-spacing-unit * 2 !important; }
.soft-double--right 		{ padding-right: $base-spacing-unit * 2 !important; }
.soft-double--left 			{ padding-left: $base-spacing-unit * 2 !important; }
.soft-double--bottom 		{ padding-bottom: $base-spacing-unit * 2 !important; }





// ------------------------------------------------//
// $CLEARING FLOATS
// ------------------------------------------------//
.clear--left 	{ clear: left; }
.clear--right 	{ clear: right; }
.clear--both 	{ clear: both; }

.hide-bleed 	{ overflow: hidden; }





// ------------------------------------------------//
// $ANIMATIONS
// ------------------------------------------------//

// Rotator hide/show
.slide {
	display: block !important;
	left: 0;
	@include transition(left 350ms ease);
	z-index: 2;
}
.slide.ng-hide {
	left: 100%;
	@include opacity(0);
	z-index: 1;
}
.slide.ng-hide.slide-reverse { left: -100%; }

.slide.ng-hide-add,
.slide.ng-hide-remove { display: block !important; }

// Reverse Flow
.slide.ng-hide-remove.slide-reverse {
	left: -100%;
	@include opacity(1);
}
.slide.ng-hide-remove.ng-hide-remove-active.slide-reverse { left: 0; }

.slide.ng-hide-add.slide-reverse {
	left: 0;
	@include opacity(1);
}
.slide.ng-hide-add.ng-hide-add-active.slide-reverse { left: 100%; }

// Normal Flow
.slide.ng-hide-remove {
	left: 100%;
	@include opacity(1);
}
.slide.ng-hide-remove.ng-hide-remove-active { left: 0; }

.slide.ng-hide-add {
	left: 0;
	@include opacity(1);
}
.slide.ng-hide-add.ng-hide-add-active { left: -100%; }

// Fading (hide/show)
.hideFade {
	@include opacity(1);
	@include transition(opacity 750ms ease);
}
.hideFade.ng-hide {
	@include opacity(0);
}
.hideFade.ng-hide-add,
.hideFade.ng-hide-remove { display: block !important; }

.hideFade.ng-hide-add.ng-hide-add-active { @include opacity(0); }
.hideFade.ng-hide-remove.ng-hide-remove-active { @include opacity(1); }

// Slide from left
.slideInLeft {
	position: absolute;
	top: 0;
	left: 0;
	@include transition(left 500ms ease);
}
.slideInLeft.ng-hide {
	left: -100%;
}
.slideInLeft.ng-hide-add,
.slideInLeft.ng-hide-remove { display: block !important; }

.slideInLeft.ng-hide-add.ng-hide-add-active { left: -100% }
.slideInLeft.ng-hide-remove.ng-hide-remove-active { left: 0; }






// ------------------------------------------------//
// $NO-JS
// ------------------------------------------------//





// ------------------------------------------------//
// $MISC
// ------------------------------------------------//

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide { display: none !important; }

ng\:form {
  display: block;
}




