// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $ADDITIONAL MIXINS
//        - $INOVAT GRID
//        - $PLACEHOLDER
//        - $FONTAWESOME
//        - $TYPE
//            - $CONTEXT CALCULATOR
//            - $MEASURE MARGIN CALCULATOR
//            - $BODY COPY
//            - $HYPHENS
//            - $SMALL CAPS
//            - $FONTSIZE ADJUST
//            - $WORDWRAP
//            - $DROPCAPS
//            - $DEFINITION LISTS
//            - $CODEBLOCKS
//        - $MISC
//
//
// ------------------------------------------------//

// ------------------------------------------------//
// $ADDITIONAL MIXINS
// ------------------------------------------------//

// ------------------------------------------------//
// $INOVAT GRID
// ------------------------------------------------//

@mixin fixed-grid {

    .row {
        min-width: $grid-min-width;
        width: $grid-width;
        max-width: $grid-max-width;
        margin: 0 auto;
        @extend .cf;

        .row {
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            margin: 0;
        }

        [class^="span"] { float: left; }

        [class^="span"]:first-child { margin-left: 0; }
    }

    // Column widths
    @for $n from 1 to $grid-columns + 1 {
        .span-#{$n} {
            margin-left: $grid-margin;
            width: ($grid-column-width * $n) + $grid-margin * ($n - 1);
        }
    }

    // Append classes
    @for $n from 1 to $grid-columns + 1 {
        .append-#{$n} {
            padding-right: ($grid-column-width + $grid-margin) * $n;
        }
    }

    // Prepend classes
    @for $n from 1 to $grid-columns + 1 {
        .prepend-#{$n} {
            padding-left: ($grid-column-width + $grid-margin) * $n;
        }
    }

}





// ------------------------------------------------//
// $PLACEHOLDER
// ------------------------------------------------//

@mixin placeholder($color) {
  ::-webkit-input-placeholder {
    color: $color;
    @include opacity(1);
  }
  :focus::-webkit-input-placeholder { @include opacity(0); }
  ::-moz-placeholder {  /* firefox 19+ */
    color: $color;
    @include opacity(1);
  }
  :focus::-moz-placeholder { @include opacity(0); }
  :-ms-input-placeholder {  /* ie */
    color: $color;
    @include opacity(1);
  }
  :focus:-ms-input-placeholder { @include opacity(0); }
}





// ------------------------------------------------//
// $FONTAWESOME
// ------------------------------------------------//

@mixin fa-icon-rotate($degrees, $rotation) {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
    -webkit-transform: rotate($degrees);
       -moz-transform: rotate($degrees);
        -ms-transform: rotate($degrees);
         -o-transform: rotate($degrees);
            transform: rotate($degrees);
}

@mixin fa-icon-flip($horiz, $vert, $rotation) {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$rotation);
    -webkit-transform: scale($horiz, $vert);
       -moz-transform: scale($horiz, $vert);
        -ms-transform: scale($horiz, $vert);
         -o-transform: scale($horiz, $vert);
            transform: scale($horiz, $vert);
}





// ------------------------------------------------//
// $TYPE
// ------------------------------------------------//

// ------------------------------------------------//
// $CONTEXT CALCULATOR
// ------------------------------------------------//

@function ems($target, $context) {
    @return ($target/$context)#{em};
}





// ------------------------------------------------//
// $MEASURE MARGIN CALCULATOR
// ------------------------------------------------//

@function measure-margin($scale, $measure, $value) {
    // divide 1 unit of measure by given font-size & return a relative em value
    @return ($measure/$scale)#{$value};
}






// ------------------------------------------------//
// $BODY COPY
// ------------------------------------------------//

@mixin base-type($weight, $line-height, $font-size, $font-family...) {
    font: $weight #{$font-size}/#{$line-height} $font-family;
}

@mixin font-shorthand($weight, $line-height, $font-size, $font-family...) {
    $line-height-reset: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);

    font: $weight #{$font-size}/#{$line-height-reset} $font-family;
    font: $weight #{($font-size / $base-font-size)*1rem}/#{$line-height-reset} $font-family;
}

@mixin font-short($font-size, $line-height) {
    font-size: $font-size;
    font-size: #{($font-size / $base-font-size) * 1rem};
    line-height: #{($line-height / $font-size) * 1};
}





// ------------------------------------------------//
// $HYPHENS
// 
//http://trentwalton.com/2011/09/07/css-hyphenation
// ------------------------------------------------//

@mixin css-hyphens($val) {
    // Accepted values: [ none | manual | auto ]
    -webkit-hyphens: $val; // Safari 5.1 thru 6, iOS 4.2 thru 6
    -moz-hyphens: $val; // Firefox 16 thru 20
    -ms-hyphens: $val; // IE10
    -o-hyphens: $val; // PRESTO...haha LOL
    hyphens: $val; // W3C standard
}





// ------------------------------------------------//
// $SMALLCAPS
// 
// http://blog.hypsometry.com/articles/true-small-capitals-with-font-face
// ISSUE #1 : https://github.com/typeplate/typeplate.github.com/issues/1
// ------------------------------------------------//

@mixin smallcaps($color, $font-weight) {
    // depends on the font family.
    // some font-families don't support small caps
    // or don't provide them with their web font.
    font-variant: small-caps;
    font-weight: $font-weight;
    text-transform: lowercase;
    color: $color;
}





// ------------------------------------------------//
// $FONTSIZE ADJUST
// 
// correct x-height for fallback fonts: requires secret formula
// yet to be discovered. This is still wacky for support. Use
// wisely grasshopper.
// ------------------------------------------------//

@mixin font-size-adjust($adjust-value) {
    // firefox 17+ only (as of Feb. 2013)
    font-size-adjust: $adjust-value;
}





// ------------------------------------------------//
// $WORDWRAP
// 
// Silent Sass Classes - A.K.A Placeholders
// normal: Indicates that lines may only break at normal word break points.
// break-word : Indicates that normally unbreakable words may be broken at
// arbitrary points if there are no otherwise acceptable break points in the line.
// ------------------------------------------------//

%breakword {
    word-wrap: break-word;
}

%normal-wrap {
    word-wrap: normal;
}

%inherit-wrap {
    word-wrap: auto;
}





// ------------------------------------------------//
// $DROPCAPS
// 
// Include your '@include dropcap()' mixin and pass the following
// arguments below. Feel free to pass in arguments we've provided.
// At this time you cannot pass in font-family arguments but you're gonna
// change that anyway so why not just make that separately in your declaration.
// ------------------------------------------------//

@mixin dropcap($float: left, $font-size: 4em, $font-family: inherit, $text-indent: 0, $margin: inherit, $padding: inherit, $color: inherit, $lineHeight: 1, $bg: transparent) {
    &:first-letter {
        float: $float;
        margin: $margin;
        padding: $padding;
        font-size: $font-size;
        font-family: $font-family;
        line-height: $lineHeight;
        text-indent: $text-indent;
        background: $bg;
        color: $color;
    }
}





// ------------------------------------------------//
// $DEFINITION LISTS
// 
// lining
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css
//
// dictionary-style
// http://lea.verou.me/2012/02/flexible-multiline-definition-lists-with-2-lines-of-css
// ------------------------------------------------//

@mixin definition-list-style($style) {
  // lining style
  @if $style == lining {
    dt,
    dd {
      display: inline;
      margin: 0;
    }
    dt,
    dd {
      & + dt {
        &:before {
          content: "\A";
          white-space: pre;
        }
      }
    }
    dd {
      & + dd {
        &:before {
          content: ", ";
        }
      }
      &:before {
          content: ": ";
          margin-left: -0.2rem; //removes extra space between the dt and the colon
      }
    }
  }
  // dictionary-style
  @if $style == dictionary-style {
    dt {
      display: inline;
      counter-reset: definitions;
      & + dt {
        &:before {
          content: ", ";
          margin-left: -0.2rem; // removes extra space between the dt and the comma
        }
      }
    }
    dd {
      display: block;
      counter-increment: definitions;
      &:before {
        content: counter(definitions, decimal) ". ";
      }
    }
  }
}






// ------------------------------------------------//
// $CODEBLOCKS
// ------------------------------------------------//

@mixin white-space($wrap-space) {
  @if $wrap-space == 'pre-wrap' {
    white-space: #{-moz-}$wrap-space; // Firefox 1.0-2.0
    white-space: $wrap-space;       // current browsers
  } @else {
    white-space: $wrap-space;
  }
}





// ------------------------------------------------//
// $MISC
// ------------------------------------------------//




