@if $responsive == true {

// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $RESPONSIVE STYLES
//   	- $RESPONSIVE VARIABLES
//   	- $PHONE SPECIFIC
//   	- $IPADS/TABLETS SPECIFIC
//   	- $IPADS/TABLETS/PHONES
//   	- $DESKTOPS/LAPTOPS
//   	- $LARGE SCREENS
//   	- $IPHONE 4/RETINA
//
//
// ------------------------------------------------//

// ------------------------------------------------//
// $REPSONSIVE VARIABLES
// ------------------------------------------------//


// ------------------------------------------------//
// $REPSONSIVE STYLES
//
// http://css-tricks.com/snippets/css/media-queries-for-standard-devices/
// ------------------------------------------------//

// ------------------------------------------------//
// $PHONE SPECIFIC (PORTRAIT/LANDSCAPE)
// ------------------------------------------------//
$phone-portrait-start-ems: 		$phone-portrait-start / $base-font-size * 1em;
$phone-landscape-start-ems: 	$phone-landscape-start / $base-font-size * 1em;
$lap-start-ems:         		$lap-start / $base-font-size * 1em;
$desk-start-ems:        		$desk-start / $base-font-size * 1em;
$desk-wide-start-ems:   		$desk-wide-start / $base-font-size * 1em;
$large-screen-start-ems: 		$large-screen-start / $base-font-size * 1em;





// ------------------------------------------------//
// $PHONE SPECIFIC (PORTRAIT/LANDSCAPE)
// ------------------------------------------------//
@media only screen 
and (min-width : $phone-portrait-start-ems) 
and (max-width : $phone-landscape-start-ems) {
	// Device hide/show classes
	.phone--visible { display: block; }
	.tablet--visible { display: none; }
	.desktop--visible { display: none; }
	.large-screen--visible { display: none; }

	.phone--hidden { display: none; }

	// Specific Styles
	// ------------------------------------------------//
	.logo {
		height: 91px;
		width: 65px;
		background-size: 100% 100%;
	}

	// Forms
	.text-input,
	.text-input--mini,
	.text-input--small,
	.text-input--medium,
	.text-input--large,
	.text-input--xlarge,
	.text-input--xxlarge    { width: 90%; }

	// Media objects
	.media__img,
	.media__img--rev {
		float: none;
		margin: 0 0 $base-spacing-unit;
	}

	// Buttons
	.btn--alpha { font-size: 2.5rem; }
	.btn--full { width: 95%; }

	// Matrix
	.matrix > li { width: 100%; }

	// Navs and extensions
	.nav > li,
	.options > li { display: block; }
	.pagination,
	.breadcrumb,
	.breadcrumb--path {
		> li { display: inline-block; }
	}
	.options > li {
		a {
			display: block;
			border-width: 0 1px 1px 1px;
		}

		&:first-child {
			a {
				border-width: 1px;
				@include border-radius($brand-round $brand-round 0 0);
			}
		}

		&:last-child {
			a { @include border-radius(0 0 $brand-round $brand-round); }
		}
	}
	.pagination .pagination__first,
	.pagination .pagination__prev,
	.pagination .pagination__next,
	.pagination .pagination__last { display: none; }
}


// ------------------------------------------------//
// $IPADS/TABLETS SPECIFIC (PORTRAIT/LANDSCAPE)
// ------------------------------------------------//
@media only screen 
and (min-width : $lap-start-ems) 
and (max-width : $desk-start-ems) {
	// Device hide/show classes
	.phone--visible { display: none; }
	.tablet--visible { display: block; }
	.desktop--visible { display: none; }
	.large-screen--visible { display: none; }

	.tablet--hidden { display: none; }

	// Specific Styles
	// ------------------------------------------------//
	.logo {
		height: 137px;
		width: 97px;
		background-size: 100% 100%;
	}

	.text-input--xxlarge { width: 90%; }
}


// ------------------------------------------------//
// $IPADS/TABLETS/PHONES
// ------------------------------------------------//
@media only screen and (max-width : $desk-start-ems) {
	.row,
	.site-wrap {
		min-width: 100%;
		width: 100%;
		max-width: 100%;

		[class*="span"] {
			margin: 0;
			width: 100%;
		}

		[class*="append"],
		[class*="prepend"] {
			padding-right: 0;
			padding-left: 0;
		}
	}

	// Specific Styles
	// ------------------------------------------------//
	.row .row,
	.site-wrap .row,
	.site-wrap .site-wrap {
		margin: 0;
		min-width: 100%;
		max-width: 100%;
	}

	.multi-list > li {
		display: block;
		float: none;
		width: 90%;
	}
}


// ------------------------------------------------//
// $DESKTOPS/LAPTOPS
// ------------------------------------------------//
@media only screen and (min-width : $desk-start-ems) {
	// Device hide/show classes
	.phone--visible { display: none; }
	.tablet--visible { display: none; }
	.desktop--visible { display: block; }
	.large-screen--visible { display: none; }

	.desktop--hidden { display: none; }
}


// ------------------------------------------------//
// $LARGE SCREENS
// ------------------------------------------------//
@media only screen and (min-width : $large-screen-start-ems) {
	// Device hide/show classes
	.phone--visible { display: none; }
	.tablet--visible { display: none; }
	.desktop--visible { display: none; }
	.large-screen--visible { display: block; }

	.large-screen--hidden { display: none; }
}


// ------------------------------------------------//
// $IPHONE 4/RETINA
// ------------------------------------------------//
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}

// if responsive is not set, simply display all desktop styles
} @else {

	.phone--visible { display: none; }
	.tablet--visible { display: none; }
	.desktop--visible { display: block; }
	.large-screen--visible { display: none; }

}// endif
