// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: June 24, 2013
// VERSION: 1.1
//
// TABLE OF CONTENTS
//   - $FONTS
//
// ------------------------------------------------//

// ------------------------------------------------//
// $FONTS
// ------------------------------------------------//

@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=cc1fd328-00c5-44aa-9032-66288b2634fb");

@font-face{
	font-family:"Futura W01 Light";
	font-weight:normal;
	font-style:normal;
	src:url("../fonts/2c660b2f-8645-4b31-89fe-1c017eeb5e85.eot?#iefix");
	src:url("../fonts/2c660b2f-8645-4b31-89fe-1c017eeb5e85.eot?#iefix") format("eot"),url("../fonts/e80a3257-e0b2-4f7c-b4e8-0167c9adb7c0.woff") format("woff"),url("../fonts/5426d3ca-532d-4e71-a700-0a22917df569.ttf") format("truetype"),url("../fonts/67fb5232-0944-4965-8594-ed2972b84950.svg#67fb5232-0944-4965-8594-ed2972b84950") format("svg");
}
@font-face{
	font-family:"Futura W01 Book";
	font-weight:normal;
	font-style:normal;
	src:url("../fonts/57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix");
	src:url("../fonts/57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix") format("eot"),url("../fonts/4d0e252c-d811-4a5d-a7f3-6ad72c6b76f2.woff") format("woff"),url("../fonts/54250d43-02be-4ff9-b802-a4ea104a0611.ttf") format("truetype"),url("../fonts/15c556fc-4608-4b01-8a0d-9c8631c8bd74.svg#15c556fc-4608-4b01-8a0d-9c8631c8bd74") format("svg");
}
@font-face{
	font-family:"Futura W01 Medium";
	font-weight:normal;
	font-style:normal;
	src:url("../fonts/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix");
	src:url("../fonts/f0052336-792e-4fcf-8750-fe6d7d5dccba.eot?#iefix") format("eot"),url("../fonts/1b696b29-a6bd-4411-a50f-37fd8a209b36.woff") format("woff"),url("../fonts/a3931c31-5998-4dbd-b7d5-d310e4ed3d60.ttf") format("truetype"),url("../fonts/6779412d-2ea7-4f1a-acfd-f6a527baaee7.svg#6779412d-2ea7-4f1a-acfd-f6a527baaee7") format("svg");
}
@font-face{
	font-family:"Futura W01 Heavy";
	font-weight:normal;
	font-style:normal;
	src:url("../fonts/da0637f7-7e81-4cbc-9f65-cfc35a127c4c.eot?#iefix");
	src:url("../fonts/da0637f7-7e81-4cbc-9f65-cfc35a127c4c.eot?#iefix") format("eot"),url("../fonts/f181fec3-5b1b-4e9f-94b6-e0d7150d1fbf.woff") format("woff"),url("../fonts/65ebb7f6-a11e-4744-8066-aa7029a5ba38.ttf") format("truetype"),url("../fonts/e23b4b94-7fc3-4dba-8b18-ec8ae6f0563f.svg#e23b4b94-7fc3-4dba-8b18-ec8ae6f0563f") format("svg");
}