// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: June 24, 2013
// VERSION: 1.1
//
// TABLE OF CONTENTS
//   - $HEADER
//   - $FOOTER
//   - $CONTENT
//   - $UI THEME (DELETE UPON CREATION OF NEW PROJECT)
//
// ------------------------------------------------//

// ------------------------------------------------//
// $HEADER
// ------------------------------------------------//

.site-header { background: $black; }

.logo {
	height: 20px;
	width: 64px;
	background: url($logo) no-repeat;
}





// ------------------------------------------------//
// $FOOTER
// ------------------------------------------------//

.site-footer { background: $black; }




// ------------------------------------------------//
// $CONTENT
// ------------------------------------------------//

.site-wrap {
	min-width: $grid-min-width;
    width: $grid-width;
    max-width: $grid-max-width;
    margin: 0 auto;
    @extend .cf;
}





// ------------------------------------------------//
// $UI THEME (DELETE UPON CREATION OF NEW PROJECT)
// ------------------------------------------------//
.block {
	background: $orange;
	color: $white;

	&.block--fixed {
		@extend .float--left;
		@extend .push-half;
		height: 100px / $base-font-size * 1em;
		width: 100px / $base-font-size * 1em;
	}
}

.section-head,
.section-subhead { color: $white; }

.section-head {
	background: $gray-darker;
	padding: 1em 0 1em 1000em;
	margin: 3em 0 1em -1000em;
}

.section-subhead {
	background: $orange;
	@extend .soft;
	@extend .push--ends;
}







