// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: June 24, 2013
// VERSION: 1.1
//
// TABLE OF CONTENTS
//   - $OVERRIDES
// 			- $DEBUG
// 			- $BLUEPRINT GRID
// 			- $BORDER BOX
// 			- $BASE
// 			- $RESPONSIVE
// 			- $FONT-SIZES
// 			- $QUOTES
// 			- $BRAND
// 			- $OBJECTS AND ABSTRACTIONS
// 				- $BLUEPRINT
// 				- $ANIMATIONS
// 			- $FRAMEWORK
//
// ------------------------------------------------//

// ------------------------------------------------//
// $OVERRIDES
// ------------------------------------------------//

/**
 * Grays
 */
$black:                 #000;
$gray-darkest:          #333;
$gray-darker:           #555;
$gray-dark:             #888;
$gray:                  #aaa;
$gray-light:            #bbb;
$gray-lighter:          #ddd;
$gray-lightest: 		#eee;
$white:                 #fff;


/**
 * Accent colors
 */
$orange: 				#F17714;
$green: 				#4a993e;
$red: 					#b33630;
$red-light: 			#FF0000;


/**
 *	Color assignments
 */
$body-copy-color: 	$black;
$heading-color: 	$black;

// ------------------------------------------------//
// $DEBUG
// ------------------------------------------------//
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
$debug-mode:        false!default;





// ------------------------------------------------//
// $BLUEPRINT GRID
// ------------------------------------------------//

/**
 * Fixed Grid system
 */

$grid-columns: 			12;
$grid-column-width: 	4.5em;
$grid-margin: 			1.428571429em;
$grid-width-px: 		976px;
$grid-width-half-px: 	$grid-width-px / 2;

/**
 * Container widths
 */
$grid-min-width: 	69.7143em;
$grid-width: 		100%;
$grid-max-width: 	69.7143em;





// ------------------------------------------------//
// $BORDER BOX
// ------------------------------------------------//
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: false;





// ------------------------------------------------//
// $BASE
// ------------------------------------------------//
/**
 * Base stuff
 */
$base-font-size:    16px!default;
$base-font-weight: 	200!default;
$base-line-height:  24px!default;

$type-scale-unit-value: rem;
$indent-val: 1.5em;

/**
 * Base font-family.
 */

$base-font-family:  	"Gotham SSm A", "Gotham SSm B", Helvetica, Arial, sans-serif;
$alt-font-family:  		Helvetica, Arial, sans-serif;
$icon-font-family: 		"FontAwesome";


/**
 * Default colour for objects’ borders etc.
 */

 $base-ui-color:     $gray-light;

/**
 * Base font properties
 */

$font-properties: $base-font-weight, $base-line-height, $base-font-size, $base-font-family;



// ------------------------------------------------//
// $RESPONSIVE
// ------------------------------------------------//
/**
 * Responsiveness?
 */
$responsive:        true!default;

/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
$responsive-extra:  false!default;

/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
$push:              false!default;
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */
$palm-push:         false!default;
$lap-push:          false!default;
$lap-and-up-push:   false!default;
$portable-push:     false!default;
$desk-push:         false!default;

$pull:              false!default;
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
$palm-pull:         false!default;
$lap-pull:          false!default;
$lap-and-up-pull:   false!default;
$portable-pull:     false!default;
$desk-pull:         false!default;

/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;

// Variables separate from inuit.css
$phone-portrait-start: 		320px!default;
$phone-landscape-start: 	480px!default;
$large-screen-start: 		1824px!default;





// ------------------------------------------------//
// $FONT-SIZES
// ------------------------------------------------//
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;





// ------------------------------------------------//
// $QUOTES
// ------------------------------------------------//
/**
 * English quote marks?
 */
$english-quotes:    true!default;

/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
$open-quote:    null;
$close-quote:   null;

/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
@if $english-quotes != true{
    $open-quote:    \00AB;
    $close-quote:   \00BB;
}





// ------------------------------------------------//
// $BRAND
// ------------------------------------------------//
/**
 * Brand stuff
 */
$brand-color:       $orange;
$brand-face:        $alt-font-family;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;





// ------------------------------------------------//
// $OBJECTS AND ABSTRACTIONS
// ------------------------------------------------//
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:         false!default;
$use-flexbox:       false!default;
$use-columns:       false!default;
$use-nav:           true;
$use-options:       true;
$use-pagination:    true;
$use-breadcrumb:    true;
$use-media:         true;
$use-marginalia:    true;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         true;
$use-this-or-this:  true;
$use-link-complex:  true;
$use-flyout:        true;
$use-arrows:        true;
$use-sprite:        true;
$use-icon-text:     true;
$use-beautons:      true;
$use-lozenges:      true;
$use-rules:         true;
$use-stats:         true;
$use-greybox:       true;

// Third Party
// ------------------------------------------------//
$use-inovat-grid:  	true!default;
$use-fontawesome:  	true!default;





// ------------------------------------------------//
// $FRAMEWORK
// ------------------------------------------------//
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;





// ------------------------------------------------//
// $IMAGES
// ------------------------------------------------//

$image-url: 				"../images/"!default;

// Backgrounds
$background: 				$image-url + "background.png";

// Logos
$logo: 						$image-url + "logo.png";

// Icons
$icons: 					$image-url + "icon-sprite.png";




