@if $use-breadcrumb == true{
// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $BREADCRUMB
//
// ------------------------------------------------//

// ------------------------------------------------//
// $BREADCRUMB
// ------------------------------------------------//
.nav.breadcrumb,
.nav.breadcrumb--path {
	> li {
		&.current {
			background: transparent;

			a {
				color: $orange;
			}
		}
	}
}

}//endif