@if $use-beautons == true {
// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $BUTTONS
//   - $BUTTONS WITH ICONS
//
// ------------------------------------------------//

// ------------------------------------------------//
// $BUTTONS
// ------------------------------------------------//

.btn{
	margin-bottom: $base-spacing-unit;
	background: $orange;
	color: $white;

	&:hover{
		background: $black;
		color: $white;
	}	
}

.btn--positive {
	background: $green;

	&:hover { background: darken($green, 15%); }
}
.btn--negative {
	background: $red;

	&:hover { background: darken($red, 15%); }
}

.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
	background: $gray;
	color: $gray-lighter;
}





// ------------------------------------------------//
// $BUTTONS WITH ICONS
// ------------------------------------------------//
.btn--icon .icon-text__icon,
.btn--icon-rev .icon-text__icon { vertical-align: middle; }
.btn-icon .icon-text__icon { margin-right: $base-spacing-unit / 6; }
.btn--icon-rev .icon-text__icon { margin-left: $base-spacing-unit / 6; }





}//endif