@if $use-flyout == true{
// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $FLYOUTS
//   - $FLYOUTS FIXED-WIDTHS
//
// ------------------------------------------------//

// ------------------------------------------------//
// $FLYOUTS
// ------------------------------------------------//
.flyout--rev {
    position: relative;
    overflow: hidden;

    > .flyout__content {
    	left: auto;
    	right: 1000em;
    }
}

    .flyout--rev:hover{
        overflow: visible;
    }

    .flyout--rev:hover > .flyout__content{
        top: 100%;
        right: 0;
    }

.flyout,
.flyout--alt { margin-bottom: $base-spacing-unit; }





// ------------------------------------------------//
// $FLYOUTS FIXED-WIDTHS
// ------------------------------------------------//
.flyout__content--full-width { width: 60em; }





}//endif