@if $use-island == true {
// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $ISLAND
//
// ------------------------------------------------//

// ------------------------------------------------//
// $ISLAND
// ------------------------------------------------//
.island,
.islet {
	background: $orange;
	color: $white;
}

}//endif