@if $use-nav == true or $use-options == true or $use-pagination == true or $use-breadcrumb == true {
// ------------------------------------------------//
//
// AUTHOR: Josiah Heigel
// CREATED: March 31, 2014
// VERSION: 2.0
//
// TABLE OF CONTENTS
//   - $NAVS
//   	- $NAV--BLOCK
//   	- $NAV--PRIMARY
//   	- $NAV--INVERSE
//
// ------------------------------------------------//

// ------------------------------------------------//
// $NAVS
// ------------------------------------------------//
.nav {
	> li {
		a {
			color: $gray;
			&:hover { color: $gray-darker; }
		}

		&.current {
			background: $orange;
			a { color: $white; }
		}
	}
}





// ------------------------------------------------//
// $NAV--BLOCK
// ------------------------------------------------//
.nav--block {
	> li {
		a:hover {
			background: $orange;
			color: $white;
		}

		&.current a { background: $gray-dark; }
	}
}





// ------------------------------------------------//
// $NAV--PRIMARY
// ------------------------------------------------//
.nav--primary {
	> li {
		a { padding: 1em; }

		.nav {
			width: 20em;
			background: $gray-darker;

			> li {
				border-top: 1px solid $white;

				a:hover {
					background: $orange;
					color: $white;
				}
			}
		}
	}
}





// ------------------------------------------------//
// $NAV--INVERSE
// ------------------------------------------------//
.nav--inverse {
	> li {
		a {
			color: $white;
			&:hover { color: $gray-lighter; }
		}
	}
}





}//endif